<?xml version="1.0" encoding="UTF-8"?>

<suite name="FREE CRM Application Test Automation Test Suite" Parallel="classes" thread-count="5">

	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name="Free CRM App Test Cases">
		<classes>
			<class name="com.crm.qa.testcases.LoginPageTest"></class>
		<!-- 	<class name="com.crm.qa.testcases.HomePageTest"></class>
			<class name="com.crm.qa.testcases.ContactsPageTest"></class> -->

		</classes>
	</test>
</suite>